body {
  --outer-gutter: 20px;
  background-color: rgb(18, 18, 18);
  color: rgb(255, 255, 255);
  font-family: monospace;
  margin: 0 var(--outer-gutter);
}

.page-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.full-bleed {
  margin: 0 calc(var(--outer-gutter) * -1);
}

.img-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 calc(var(--outer-gutter) * -1);
  max-height: 75vh;
  background-color: black;
}

.img-wrapper > img {
  max-width: 100%;
  object-fit: contain;
}

.img-wrapper:hover > .img-meta-data {
  display: block;
}

.img-meta-data {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 30px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.slideshow-btn {
  all: unset;
  cursor: pointer;
}

.slideshow-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.slideshow-btns {
  font-size: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.slideshow-slidecount {
  font-size: 16px;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.speed-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

/* Non-mobile */
@media screen and (min-width: 600px) {
  .slideshow-footer {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }

  .img-wrapper {
    margin: 0;
  }
}
